<div id="publications" class="publications" {{did-insert this.setUpScroller}}>
  {{#each this.publications as |publication|}}
    <Publications::Publication
      @accountName={{publication.accountName}}
      @publicationAge={{publication.publicationAge}}
      @nLikes={{publication.nLikes}}
      @description={{publication.description}}
    />
    <span class="separator"></span>
  {{/each}}
</div>