{{#if @linkRoute}}
  <LinkTo id="{{@id}}" @route={{@linkRoute}} class="item {{@class}}">
    <LeftSidePanel::Item::Content
      @isSvgImg={{@isSvgImg}}
      @imgSrc={{@imgSrc}}
      @imgAlt={{@imgAlt}}
      @text={{@text}}
      ...attributes
    />
  </LinkTo>
{{else}}
  <button
    id="{{@id}}"
    type="button"
    class="item {{@class}}"
    {{on "click" @onClick}}
  >
    <LeftSidePanel::Item::Content
      @isSvgImg={{@isSvgImg}}
      @imgSrc={{@imgSrc}}
      @imgAlt={{@imgAlt}}
      @text={{@text}}
      ...attributes
    />
  </button>
{{/if}}